table#jbs-events{
	width:100%;
}
table#jbs-events tbody tr.even{
  background-color:#FFFFFF;  
}
table#jbs-events tbody tr.odd {
  background-color:#FBFBFB;     
}
table#jbs-events tbody tr:hover{
    background-color:#EFEFEF;
}
table#jbs-events tbody tr.info td,
table#jbs-events tbody tr.teilnahme td{
    text-align: left;
}
span.shotcut-group{
	font-size:0.7em !important;
}
textarea.wp-editor-area {
	color:#000 !important;
}
table#jbs-events tbody input[type="submit"]{
    font-family: 'FontAwesome';
}
span.form_required{color:#990000;}

@media screen and (max-width: 600px) {
    table {width:100%;}
    thead {display: none;}
    tr:nth-of-type(2n) {background-color: inherit;}
    tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
    tbody td {display: block;  text-align:center;}
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}