html,body {/*background:#17272d url('../images/img2.jpg') no-repeat center center fixed !important;*/
background: #17272d url('../images/img2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
h1 a {	/* Title image (The "WordPress Logo"). Remember to update the height and width your image's dimensions */
background:rgba(255,255,255,0.5) url('../images/logo-s.png') no-repeat center center !important;
width:320px !important;
height:110px !important;
} 
 
body.login {border-top-color:#900;}	/* Top bar background color */
.login form label, .login #nav a{color:#333;}
.login p#backtoblog a:link, .login p#backtoblog a:visited {color:#900;}	/* Link effects in top bar */
.login p#backtoblog a:hover, .login p#backtoblog a:active {color:#900;text-decoration:underline;}	/* Rollover link effects in top bar */
.login form{background:rgba(255,255,255,0.5);}
